# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Streamlit files
.streamlit/

# Output files
outputs/

# SQLite Database
database/*.db

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db